<nav class="navbar navbar-default navbar-fixed-top be-top-header">
  <div class="container-fluid">
    <div class="navbar-header"><a routerLink="/home" class="navbar-brand" style="background: none;">
      <h3>Gé<sup class="small">3</sup></h3>
    </a></div>



    <div class="be-right-navbar">
      <ul class="nav navbar-nav navbar-right be-user-nav">
        <li *ngIf="auth.userProfile" class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img src="{{auth.userProfile.picture}}" alt="Avatar"><span class="user-name">{{auth.userProfile.user_metadata.name}}</span></a>
          <ul role="menu" class="dropdown-menu">
            <li>
              <div class="user-info">
                <div class="user-name">{{auth.userProfile.user_metadata.name}}</div>
              </div>
            </li>
            <li><a href="#"><span class="icon mdi mdi-face"></span> Mon profil</a></li>
            <li><a href="#"><span class="icon mdi mdi-settings"></span> Préférences</a></li>
            <li><a (click)="logout()"><span class="icon mdi mdi-power"></span> Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

